body{
  width: 360px;
}
.main-content {
  padding: 6px 10px;
}
.video-item-text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-item-text {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
}
.video-item-size {
  margin-bottom: 0;
}
.download-progress {
  display: none;
}
.melvor-helper-commands {
  font-size: 15px;
}